.other-class {
    background: gray;
    width: 180%;
    padding: 2%;
    border: 1px solid black;
    border-radius: 12px;
    margin-top: 30%;

}
.switch-toggle {
    background-image: url('../../images/ball-play.png');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow:  none;
    border: none;
    margin: 1%;
}
.switch.on {
    background: #D1AC17;
    .switch-toggle{
        left: 25px;
    }

}
