.fields {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    background: white;
    align-items: center;
    padding: 1% 3%;
    height: 200px;
    &__field {
        width: 12%;
        cursor: pointer;
    }

}
