.popup {
    position: absolute;
    left: 27%;
    top: 1%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background: lightgray;
    width: 44%;
    height: 96%;
    text-align: center;
    border-radius: 6px;
    border: 1px solid rgb(197, 156, 22);
    padding: 10px;
    .close {
        position: absolute;
        right: 1%;
        top: 1%;
        &__btn {
            width: 22px;
            height: 22px;
            cursor: pointer;
        }
    }
    
    .edit {
        position: absolute;
        background: gray;
        border:  rgb(197, 156, 22) solid 1px;
        border-radius: 6px;
        padding: 2% 1%;
        top: 30%;
        left: 16%;
        display: flex; 
        width: 67%;
        justify-content: center;
        flex-flow: row nowrap;
        &__input {
            width: 50%;
            height: 30px;
            font-size: 100%;
            padding: 1% 2%;
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
            border: rgb(197, 156, 22) solid 1px;
            background: white;
            border-right: 0px;
            color: black;
            &:focus {
                outline: none;
            }
            &--number {
                width: 8%;
                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;
                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;
                padding: 1%;
                border-left: 0px;
                border-right: rgb(197, 156, 22) solid 1px;
            }
        }
        &-add {
            display: flex;
            margin-left: 5px;
            width: 30%;
            justify-content: space-around;
            &__icon {
                width: 18%;
                padding: 4%;
                align-self: center;
                border-radius: 50px;
                background: lightgray;
                border: rgb(197, 156, 22) solid 1px;
                cursor: pointer;
            }
        }
    }
    .list {
        display: flex;
        padding: 10px;
        width: 72%;
        flex-direction: column;
        box-shadow: 8px 6px 8px rgb(53, 46, 46);
        border-radius: 6px;
        border-left: lightgray;
        background: rgb(165, 161, 161);
        &-player {
            display: flex;
            flex-flow: row nowrap;
            padding: 1% 0%;
            justify-content: space-between;
            font-family: 'Poppins', sans-serif;
            align-items: center;
            border-bottom: 1px solid rgb(197, 156, 22); 
            &__name {
                font-size: 1em;
                width: 80%;
            }
            &__number {
                font-size: 1em;
                width: 10%;
            }
            &-icons {
                display: flex;
                justify-content: flex-end;
                width: 30%;
                &__icon {
                    width: 20%;
                    height: 48%; 
                    cursor: pointer;
                    margin-right: 6%;
                }
            }
            &-options {
                display: flex;
                justify-content: space-around;
                width: 22%;
                &__option {
                    width: 25%;
                    height: 75%; 
                    cursor: pointer;
                    margin-right: 6%;
                }
            }
        }
    }
    .save {
        width: 14%;
        margin-top: 3%;
        font-size: 0.8em;
        padding: 2%;
        font-family: 'Poppins', sans-serif;
        border-radius: 6px;
        background: rgba(36, 112, 1, 0.534);
        border: 1px solid white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__icon {
            width: 20%;
            height: 20%;
            cursor: pointer;
        }
    }
}
