.teams {
    border: 1px solid #D1AC17;
    border-radius: 6px;
    position: absolute;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding: 0.7%;
    background: white;
    right: 33.2%;
    top: 1%;
    width: 15%;
    height: 200px;
    overflow: scroll;
    overflow-x: hidden;
    &-container {
        height: 200px;
        &-button {
            background: transparent;
            font-family: 'Poppins', sans-serif;
            border: none;
            font-size: 1em;
            cursor: pointer;
            margin-bottom: 1.5%;
            &:hover {
                background: #D1AC17;
            }
            &:focus {
                outline: none;
            }
        }
    }
}


